*{
	margin : 0;
	padding : 0;
	font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	box-sizing : border-box;
}

.head{
	background-image :linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/image1.jpg");
	background-size : cover;
	background-position : center;
	background-repeat : no-repeat;
	height : 100vh;
}

.menu {
	width: 100vw;
	height: 100vh;
}
  
.box {
	width: 150px;
	height: 10%;
	transition-duration: 500ms;
	transition-property: width;
	display: flex;
	justify-content: center;
	align-items: center;	
}
  
.one:hover, .two:hover, .three:hover, .four:hover {
	width: 300px;
}
  
.one {
	background: #07BEB8;
	transition-timing-function: linear;
}
  
.two {
	background: #3DCCC7;
	transition-timing-function: ease-in;
}
  
.three {
	background: #9CEAEF;
	transition-timing-function: ease-out;
}
  
.four {
	background: #B1F8F2;
	transition-timing-function: ease-in-out;
}

.menu a{
	padding : 10px;
	border : 1px solid transparent;
	text-decoration : none;
}

/* .menu a:hover{
	background-color : ghostwhite;
	color : black;
} */