h1 {
    padding-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

/* body {
    background-color: rgb(19, 208, 214);
} */

img {
    width: 300px;
    height: 300px;
    padding-left: 10px;
    border-radius: 25%;
}

.Headings {
    padding-right: 50px;
    padding-top: 50px;
    font-size: 30px;
    text-align: left;
    margin-left: 100px;
}

/* .Image {
    width: 20%;
    float: left;
} */

.data {
    font-size: 30px;
    padding-left: 500px;
    margin: 0px;
}

.temp {
    padding-left: 150px;
    margin: 0px;
    font-size: 25px;
    background-color: white;
    background-clip: content-box;
}
