body{
	background-image: url('/images/image7.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
  
table{
	background-color:rgb(168, 197, 39);
}
  
td{
	color:brown;
	text-align: center;
	background-color: lightgrey;
}