<!DOCTYPE html>
<html>
	<head>
		<title>Design Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>

	<body>
		<div class="container-fluid">
			<div class="p-3 mb-2 bg-primary text-white">
				<p class = "text-center" style = "font-size: 30px; padding-top: 10px;">Sai Koteswara Rao Ch
					<a href = "{{ url_for('logout')}}" style = "float: right; margin: 10px;">
						<svg class="bi bi-box-arrow-right" width="1em" height="1em" viewBox="0 0 16 16" fill="yellow" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M11.646 11.354a.5.5 0 010-.708L14.293 8l-2.647-2.646a.5.5 0 01.708-.708l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0z" clip-rule="evenodd"/>
							<path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h9a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
							<path fill-rule="evenodd" d="M2 13.5A1.5 1.5 0 01.5 12V4A1.5 1.5 0 012 2.5h7A1.5 1.5 0 0110.5 4v1.5a.5.5 0 01-1 0V4a.5.5 0 00-.5-.5H2a.5.5 0 00-.5.5v8a.5.5 0 00.5.5h7a.5.5 0 00.5-.5v-1.5a.5.5 0 011 0V12A1.5 1.5 0 019 13.5H2z" clip-rule="evenodd"/>
						</svg>
					</a>
					<a href = "{{ url_for('search')}}" style = "float: right; margin: 10px;">
						<svg class="bi bi-house-door-fill" width="1em" height="1em" viewBox="0 0 16 16" fill= "yellow " xmlns="http://www.w3.org/2000/svg">
							<path d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
							<path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
						</svg>
					</a>
				</p>
            </div>
            
            <div class = "details"  style = "display: flex;">
                <div><img src = "http://covers.openlibrary.org/b/isbn/1416949658.jpg" alt = "Image of the Book" class = "rounded float-left"></div>
                <div>
                    <dl class="column" style = "padding-left: 15px; display: flex;">
                        <dt class="row-sm-3">Name : </dt>
                        <dd class="row-sm-3">Name of the Book</dd>
                    </dl>
                    <dl class="column" style = "padding-left: 15px; display: flex;">
                        <dt class="row-sm-3">Author : </dt>
                        <dd class="row-sm-3"><p>Author of the Book</p></dd>
                    </dl>
                    <dl class="column" style = "padding-left: 15px; display: flex;">
                        <dt class="row-sm-3">ISBN : </dt>
                        <dd class="row-sm-3"><p>ISBN of the Book</p></dd>
                    </dl>
                    <dl class="column" style = "padding-left: 15px; display: flex;">
                        <dt class="row-sm-3">Year : </dt>
                        <dd class="row-sm-3"><p>Publication Year of the Book</p></dd>
                    </dl>
                </div>
            </div>
        </div>
	</body>
</html>