<!DOCTYPE html>
<html>
	<head>
		<title>Details Page</title>
		<link rel = "stylesheet" type = "text/css" href = "D:\Study\MSIT\Introdution to Web Programming\project1\static\styles\details.css">
	</head>

	<body>
		<div>
			<div class = "name">
				<h1>Sai Koteswara Rao Ch</h1>
				<div class = "list">
					<ul>
						<li><a href = "#"> Home </a></li>
						<li><a href = "#"> Logout </a></li>
					</ul>
				</div>
			</div>

			<div class = "Book">
				<div class = "Image">
					<img src = "D:\Study\MSIT\Introdution to Web Programming\project1\static\styles\images\image5.jpg" alt = "">
				</div>

				<div class = "news">
					<div class = "content">
						<div class = "details">
							<ul>
								<li>Book Name : Name of the Book</li>
								<li>Author : Author of the Book</li>
								<li>ISBN : ISBN of the Book</li>
								<li>Year : Publication Year of the Book</li>
							</ul>
						</div>
	
						<div class = "rating">
							<ul>
								<li>Average Rating : Rating of the Book</li>
								<li>Number of reviewers : Count</li>
							</ul>
						</div>
					</div>
					<div class = "review"></div>
					<div class = "button">
						<ul>
							<li><a href = "#">Review</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>