<!DOCTYPE html>
<html>
	<head>
		<title> Registration Page </title>
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		<style>
			body{
				background-image : linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("static/styles/images/image2.jpg");
				background-size : cover;
				background-position : center;
				background-attachment : fixed;
				height : 100vh;
			}

			#ui{
				background-color : #333;
				padding : 30px;
				margin-top : 50px;
				border-radius : 10px;
				opacity : 0.8;
			}

			#ui label,h1{
				color : ghostwhite;
			}
		</style>

		<script>
			function check(){
				password = document.getElementById("password").value;

				if (password.length < 6) {
					alert("password length has to be more that 6 letters long");
					return false;
				}
				if (!/[a-z]/g.test(password)) {
					alert("atleast one lower case alphabet needed");
					return false;
				}
				if (!/[A-Z]/g.test(password)) {
					alert("atleast one upper case alphabet needed");
					return false;
				}
				if (!/[1-9]/g.test(password)) {
					alert("atleast one digit needed");
					return false;
				}
				if (!/[!@#\$%\^\&*\)\(+=._-]/.test(password)) {
					alert("atleast one special character needed");
					return false;
				}
				return true;
			}
		</script>
	</head>

	<body>
		<div><h2 style = "text-align : center; color: ghostwhite;">{{ name }}</h2></div>
		<div class = "container">
			<div class = "row">
				<div class = "col-lg-3"></div>
				<div class = "col-lg-6">
					<div id = "ui">
						<h1 class = "text-center"> Register Your Account </h1>
						<form class = "form-group text-center" id = "form" onsubmit = "return check()" method = "POST" action = "{{ url_for('register')}}">
							<div class = "row">
								<div class = "col-lg-6">
									<label> First Name </label>
									<input type = "text" name = "firstname" class = "form-control" placeholder = "Enter Your First Name" required>
								</div>

								<div class = "col-lg-6">
									<label> Last Name </label>
									<input type = "text" name = "lastname" class = "form-control" placeholder = "Enter Your Last Name" required>
								</div>
							</div>
							<br>
							<label> Email </label>
							<input type = "email" name = "email" class = "form-control" placeholder = "Enter Your Email ID" required>
							<br>
							<div class = "row">
								<div class = "col-lg-6">
									<label> Password </label>
									<input type = "password" name = "password" id = "password" class = "form-control" placeholder = "Enter Your Password" required>
								</div>

								<div class = "col-lg-6">
									<label> Retype Your Password</label>
									<input type = "password" name = "repassword" class = "form-control" placeholder = "Retype Your password" required>
								</div>
							</div>
							<br>
							<select class = "form-control" required>
								<option> Choose Gender </option>
								<option> Male </option>
								<option> Female </option>
								<option> Others </option>
							</select>
							<br>
							<input type = "submit" name = "submit" id = "submit" value = "Submit" class = "btn btn-primary btn-block btn-lg">
						</form>
					</div>
				</div>
				<div class = "col-lg-3"></div>
			</div>
		</div>
	</body>
</html>