<!DOCTYPE html>
<html>
	<head>
		<title> Registration Page </title>
	</head>

	<script>
		function check(){
			alert("Hello")
			var password = document.getElementById("password").value

			if (password.length < 6) {
				alert(" password length has to be more that 6 letters long");
				return false;
			}
			if (!/[a-z]/g.test(password)) {
				alert("atleast one lower case alphabet needed");
				return false;
			}
			if (!/[A-Z]/g.test(password)) {
				alert("atleast one upper case alphabet needed");
				return false;
			}
			if (!/[1-9]/g.test(password)) {
				alert("atleast one digit needed");
				return false;
			}
			if (!/[!@#\$%\^\&*\)\(+=._-]/.test(password)) {
				alert("atleast one special character needed");
				return false;
			}
		}
	</script>

	<body>
		<input type = "text" name = "firstname" placeholder = "Enter Your First Name" required>
		<input type = "text" name = "lastname" placeholder = "Enter Your Last Name" required>
		<input type = "email" name = "email" placeholder = "Enter Your Email ID" required>
		<input type = "password" name = "password" id = "password" placeholder = "Enter Your Password" required>
		<input type = "submit" onclick = "check()" id = "submit">
	</body>
</html>