<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Search for Reviews</title>
    <style>
 
        .input-group-prepend {
            width: 100%;
            font-size: medium;
        }
 
        .searchform label {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: large;
            padding-top: 0;
            padding-left: 8px;
        }
    
        #pop {
            text-align: center;
        }
 
    </style>
</head>
 
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">Book Reviews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
 
<body> 
 
    {% with messages = get_flashed_messages() %} 
        {% if messages %}
            {% for msg in messages %}
 
                <div class="alert alert-warning alert-dismissible fade show" role="alert" id="pop">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>{{msg}}</strong> 
                </div>
                
                <script>
                  $(".alert").alert();
                </script>
 
            {% endfor %}
        {% endif %}
    {% endwith %}
 
    <div class="container">
 
        <div class="row justify-content-center" style="margin-top: 15%;">
 
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
 
                <legend style="text-align: center;">Search</legend>
                <form action="/userreview" class="searchform" method="POST">
 
                    <div class="input-group mb-3">
 
                        <div class="input-group-prepend">
                            <input type="search" placeholder="Email or User Name" name="search_item" class="form-control"
                                aria-label="search_item" aria-describedby="basic-addon1" required>
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
 
                    </div>
 
                    <div>
                        <button type="submit" class="btn btn-primary" style="width: 150px;">Search</button>
                    </div>
 
                </form>
 
            </div>
        </div>
 
    </div>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
 
</html>