<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="static/styles/search.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>bookview</title>
    <script>
      function search_validate() {
        // alert("example");
        var name = document.forms["searchid"]["searchele"].value;
        console.log("name");

        if (name == "") {
          document.querySelector('#searchbox').innerHTML = "You can't leave search bar empty";
          return false;
        }
        const request = new XMLHttpRequest();
        request.open("POST", "/api/search");
        request.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
        request.onload = () => {             

        const response = JSON.parse(request.responseText);

        if (request.status === 200) {

          response.books.forEach(book => {
                    
            document.querySelector('#load').innerHTML = ""
                    
                    let content = `
        
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top: 4%;">
                                    <div class="card-body">
                                        <h5 class="card-title">Title</h5>
                                        <p class="card-text"><b>${book.title}</b></p>
                                        <button type="submit" class="btn btn-primary" style="width: 150px;" onclick="book(${book.isbn})">Review</button>
                                    </div>
                            </div>
                            
                            `;

                    document.querySelector('#Bookss').innerHTML += content

                }); 

                } else if (request.status === 404) {
                    document.querySelector('#load').innerHTML = "<br><b>No Results found<b>";
                }
                    
            }

            const jsonData = JSON.stringify({"search_validate" : value})
            request.send(jsonData);
            return false;
        }

        function login() {
            alert("Login")
        }

        // function book(isbn) {
        //     alert(isbn)
        // }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <p class="navbar-brand">Book Review</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="#navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <h6 class="nav-link">Welcome, {{session.name}}</h6>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-light btn-success mr-2" href="search" role="button">Search</a>
            </li>
            <li class="nav-item">
              <li><a href="/logout"><button class="btn btn-outline-light float-right" type="submit">Logout</button></a></li>
            </li>
            <li class="nav-item">
              <a href="/register"><button class="btn btn-outline-light" type="submit">Sign Up</button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="leftContainer">
      <form name="searchForm" id="searchid" class="stacked greyBox searchBox searchBox--large" method="POST"  action="{{url_for('search')}}">
         <div class="greyText" style="padding-bottom: 10px">
            <input type="text"  id = "searchele" name="comp" size="55"  class="searchBox__input searchBox--large__input" placeholder="Search by Book Title, Author, or ISBN">
            <!-- <input type="hidden" name="search_type" value="books"> -->
            <input type="submit" value="Search" id="search_query_main" onclick="search_validate();" class="searchBox__button searchBox--large__button"  ></button>
            <div id="searchbox"></div>
        </div>
          <div>
            <label name="searchtype">
              <input type="radio" checked="checked" name="search" id="search_field" /> isbn
              <input type="radio"   value="title" name="search" id="search_field_title"  /> title
              <input type="radio"   value="author" name="search" id="search_field_author" /> author
            </label>
        </form>
            <div class="container">
              <div class="row" id ="load">
                <div class="col-md-6 col-sm-12">
                  <table class="table .list">
                  <thead>
                    <tr>
                      <th scope="col">ISBN</th>
                      <th scope="col">Title</th>
                      <th scope="col">Author</th>
                      <th scope="col">year</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in data %}
                    <tr>
                      <td> <a href="{{''.join(['/book/isbn=',item.isbn])}}">{{item.isbn}}</a></td>
                      <td>{{item.title}}</td>
                      <td>{{item.author}}</td>
                      <td>{{item.year}}</td>
                      <!-- <td><a href= "details/{{item.bookid}}">Details</a></td> -->
                    </tr>
                    {% endfor %}
                  </tbody>
                  </table>
                </div>
                </div>
                <div class="col-md-6 col-sm-0">
                </div>
              </div>
          </div>
      
      </form>
      
  </body>
</html>