<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Search</title>
    <style>
        body{
            background-image: url('static/styles/images/image7.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        
        table{
            background-color:rgb(168, 197, 39);
        }
        
        td{
            color:brown;
            text-align: center;
            background-color: lightgrey;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center text-warning">Search Your Book</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="float: right;"></div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="btn btn-warning" role="button" href="#">Home</a>
                            </li>
                            <li class="nav-item" style="padding-left:20px;">
                                <a class="btn btn-success" href="{{url_for('logout')}}" role="button">Log Out</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div style="margin-top:40px" class="col-md-6">
                        <form class="form-inline" style="text-align: center;"
                            method="POST">
                            <label class="my-1 mr-2" style="font-family: 'Courier New', Courier, monospace;color:white;"
                                for="inlineFormCustomSelectPref">Search with </label>
                            <select type="text" class="custom-select my-1 mr-sm-2" name="search_with" id="search_with">
                                <option selected required>Select</option>
                                <option value="1">Author</option>
                                <option value="2">ISBN</option>
                                <option value="3">Title</option>
                            </select>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input id="search_text" name="search_text" type="text"
                                    placeholder="Enter details to Search " class="form-control input-md">
                            </div>
                            <button class="btn btn-primary my-1">Search</button>
                        </form>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <caption style="font-family:'Courier New';font-size:40px;font-style:italic;color:aqua;">Results for your Search..</caption>
                        <table id="searchtable" class="table" style="background-color:rgb(175, 247, 250);border: 3px solid black;">
                            <thead class="thead-dark">
                                <tr style="border: 1px solid black;border-collapse: collapse;">
                                    <th scope="col">ISBN</th>
                                    <th scope="col">Title</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in results %}
                                <tr>
                                    <td><a href="book?isbn={{result.isbn}}">{{result.isbn}}</a></td>
                                    <td>{{result.title}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>