<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Search</title>
    <style>
        body{
            background-image: url('static/styles/images/image7.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        
        table{
            background-color:rgb(168, 197, 39);
        }
        
        td{
            color:brown;
            text-align: center;
            background-color: lightgrey;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('form').onsubmit = () => {
                const request = new XMLHttpRequest();
                const select = document.getElementById('select').value;
                const search_text = document.getElementById('search_text').value;
                request.open('POST', '/api/search');
                
                request.onload = () => {
                    const data = JSON.parse(request.responseText);

                    if(data.success){
                        if(data.results.length > 0){
                            var matter = "";
                            data.results.forEach(result => {
                                matter += "<tr> <td> <a href='/book?isbn=" + result["ISBN"] + "'>" + result["ISBN"] + "</a> </td> <td>" + result["title"] + "</td> </tr>";
                            });
                            document.getElementById("body_results").innerHTML = matter
                        }
                    }
                }
                request.send(JSON.stringify({"select" : select, "search_text" : search_text}));
                return false;
            }
        });
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center text-warning">Search Your Book</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="float: right;"></div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="btn btn-warning" role="button" href="#">Home</a>
                            </li>
                            <li class="nav-item" style="padding-left:20px;">
                                <a class="btn btn-success" href="{{url_for('logout')}}" role="button">Log Out</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div style="margin-top:40px" class="col-md-6">
                        <form id = "form" class = "form-inline" style = "text-align: center;" method = "POST">
                            <label class="my-1 mr-2" style="font-family: 'Courier New', Courier, monospace;color:white;"
                                for="inlineFormCustomSelectPref">Search with </label>
                            <select id = "select" type = "text" class = "custom-select my-1 mr-sm-2" name = "search_with" id="search_with">
                                <option value = "select" selected>Select</option>
                                <option value = "1">Author</option>
                                <option value = "2">ISBN</option>
                                <option value = "3">Title</option>
                            </select>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input id = "search_text" name = "search_text" type = "text"
                                    placeholder = "Enter details to Search " class = "form-control input-md">
                            </div>
                            <button class="btn btn-primary my-1">Search</button>
                        </form>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <caption><p style="font-family:'Courier New';font-size:40px;font-style:italic;color:aqua;"> Results for your Search..</p></caption>
                        <table id="searchtable" class="table" style="background-color:rgb(175, 247, 250);border: 3px solid black;">
                            <thead class="thead-dark">
                                <tr style="border: 1px solid black;border-collapse: collapse;">
                                    <th scope="col" style = "text-align: center;">ISBN</th>
                                    <th scope="col" style = "text-align: center;">Title</th>
                                </tr>
                            </thead>
                            <tbody id = "body_results"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>