$color : green;

.row > div {
        padding : 20px;
        background-color : skyblue;
        border : 2px solid black;
	}

%bold{
	font-weight : bold;
}

.col-4, .col-3{
	@extend %bold;
}

h1{
	color : $color;
	background-color : aqua;
	text-align : center;
	padding : 10px;
}

body{
	background-image : url("images/ground.jpg");
	background-repeat : no-repeat;
	background-size : cover;
}