.Center{
	display : flex; 
	justify-content: center; 
	align-items : center;
}

/* #div1{
	height : 50%;
} */

h1 {
	text-align : center;
	color : rgb(7, 116, 179);
	font-size : 36px;
	font-family : Georgia, 'Times New Roman', Times, serif;
	border : burlywood; 
	background-color : turquoise;
	padding : 10px;
}

img{
	padding : 10px;
	/* border-radius : 20%; */
	height : 500px;
	width : 75%;
}

.Text{
	font-size : 24px;
	font-family : 'Times New Roman', Georgia, Times, serif;
	text-align : left;
	border : 10px;
	margin : 30px;
}

@media print {
	.Screen{
		display : none;
	}
}

/* @media (min-width: 500px) {
	body {
		background-color: red;
	}
}

@media (max-width: 499px) {
	body {
		background-color: blue;
	}
} */